.postCard {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: auto;
    text-align: left;
    width: 800px;
}
.commentContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f0f5ff;
    width: auto;
}